bitsandbytes==0.39.0
transformers==4.31.0
sentence-transformers==2.2.2
huggingface_hub==0.14.1
accelerate==0.21.0
peft==0.5.0
ipywidgets==8.1.7
numpy==1.24.3
scikit-learn==1.2.2
pdfplumber==0.11.7
pymupdf==1.26.3
faiss-cpu==1.11.0
pypdf==6.0.0
torch==2.0.1
